input {
    background-color: white;
}
label {
    border: 1px dotted black;
    color: black;
    text-underline-color: black;
}
form {
    width:80%;
    margin: auto;
    text-align: center;
    border-color: #00203FFF;
}
body{
    background-color: #030332;
}
