input {
    background-color: white;
}
label {
    border: 1px dotted black;
    color: black;
    text-underline-color: black;
}
form {
    width:80%;
    margin: auto;
    text-align: center;
    border-color: #00203FFF;
}
body{
    background-color: #00203FFF;
}
p{
    font-family: serif;
    text-align: center;
    color: #00203FFF;
    font-size: 2em;
}
nav{
    background-color: #ADEFD1FF;
    height: 35px;
}
nav::after{
    content:'';
    display: table;
    clear: both;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    text-decoration-color: black;
    color: black;
}
nav li{
    float: left;
    display: inline-block;
    margin: 0 35px;
    font-size: 20px;
}
a {
    color: #ADEFD1FF;
    background-color: #00203FFF;
}