input {
    background-color: aquamarine;
}
label {
    border: 1px dotted black;
}
form {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    color: cornflowerblue;
}
p{
    text-align: right;
    color: yellow;
}
nav{
    background-color: darkslateblue;
}
li{
    float: inherit;
    text-align: left;
}