input {
    background-color: #7fffd4;
}
label {
    border: 1px dotted black;
    color: black;
    text-underline-color: black;
}
form {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}
body{
    background-color: black;
}
p{
    text-align: left;
    color: white;
}
nav{
    background-color: green;
    height: 22px;
}
nav::after{
    content:'';
    display: table;
    clear: both;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
nav li{
    float: left;
    display: inline-block;
    margin: 0 35px;
    color: black;
    text-underline-color: black;
}