input {
    background-color: #7fffd4;
}
label {
    border: 1px dotted black;
    color: black;
    text-underline-color: black;
}
form {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
}
body{
    background-color: white;
}
p{
    text-align: center;
    color: forestgreen;
    font-size: 2em;
}
nav{
    background-color: tan;
    height: 24px;
}
nav::after{
    content:'';
    display: table;
    clear: both;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    text-decoration-color: black;
    color: black;
}
nav li{
    float: left;
    display: inline-block;
    margin: 0 35px;
    font-size: 10px;
}
a{
    color: white;
    background-color: forestgreen;
}